extends layout.jade

block title
  title CT3D

block head
  link(rel='stylesheet' type='text/css' href='css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='css/pure-min.css')
  link(rel='stylesheet' type='text/css' href='css/grids-responsive-min.css')
  link(rel='stylesheet' type='text/css' href='css/papaya.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  script(type='text/javascript' src='js/jquery.min.js')
  script(type='text/javascript' src='js/papaya.js')
  script(type='text/javascript' src='js/main.js')

block content
  div(class='pure-g')
    div(class=['pure-u-1-24','pure-u-md-2-24','pure-u-lg-1-5','pure-u-xl-1-3']) &nbsp;
    div(class=['pure-u-22-24','pure-u-md-20-24','pure-u-lg-3-5','pure-u-xl-1-3'])
      div(class="pure-g")
        div(class=["pure-u-1","text-center"])
          h1 BoneAR
          p View 3D generated models from Dicom images in Augmented Reality
      div(class="pure-g")
        div(class=["pure-u-1"])
          form(class=['pure-form', 'pure-form-stacked'] method='get' action='_self')
            fieldset
              div(class=["pure-g"])
                label(for="ct-set-select" class=["ct-label","pure-u-1"]) Select CT Set :
                select(id="ct-set-select" class=["pure-input-1","ct-select","pure-u-1"])
                  option -
                  each x in sets
                    option(value=x.id)= x.name
              
              div(class="pure-g")
                label(for="ct-threshold-input" class=["ct-label","pure-u-1"]) Threshold (default : 400):
                input(id="ct-threshold-input" class=["ct-input","pure-input-1"] type="number" value="400" disabled)
                
              div(class=["pure-g","ct-form-buttons"])
                a(id="gen-model" class=["pure-button", "pure-button-primary","pure-u-1"] data-val="genModel" disabled)
                  i(class="fa fa-wrench") &nbsp;Generate Modal
                a(id="show-3D" class=['pure-button',"pure-button-success","pure-u-1"] data-val="show3D" disabled) 
                  i(class="fa fa-cube") &nbsp;View 3D model
                a(id="show-ar" class=['pure-button', 'pure-button-primary',"pure-u-1"] data-val="showAR" disabled) 
                  i(class="fa fa-cubes") &nbsp;View AR model
                
      div(class="pure-g")
        p(class=['pure-u-1','text-center'] id="status").

      div(class="pure-g")
        div(class="pure-u-1" id="viewer")
          div(class=["papaya"] data-params="default_params")
    div(class=['pure-u-1-24','pure-u-md-2-24','pure-u-lg-1-5','pure-u-xl-1-3']) &nbsp;
