extends layout.jade

block title
  title CT3D - Showing Model

block head
  script(type='text/javascript' src='js/js-three/three.min.js')
  script(type='text/javascript' src="js/js-three/PLYLoader.js")
  script(type='text/javascript' src="js/js-three/Detector.js")
  script(type='text/javascript' src="js/js-three/OrbitControls.js")
  script(type='text/javascript' src="js/js-three/stats.min.js")
  style.
    body {
      font-family: Monospace;
      background-color: #000000;
      margin: 0px;
      overflow: hidden;
    }

    #info {
      color: #fff;
      position: absolute;
      top: 10px;
      width: 100%;
      text-align: center;
      z-index: 100;
      display:block;
    }

    a { color: skyblue }
    .button { background:#999; color:#eee; padding:0.2em 0.5em; cursor:pointer }
    .highlight { background:orange; color:#fff; }

    span {
      display: inline-block;
      width: 60px;
      float: left;
      text-align: center;
    }
    
block content
  script.
    if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
    
    var container, stats, camera, cameraTarget, scene, renderer, controls;

    init();
    animate();
    
    function init() {
      scene = new THREE.Scene();
      scene.fog = new THREE.FogExp2( 0x2d2d2d, 0.002 );
      
      // renderer
      renderer = new THREE.WebGLRenderer( { antialias: false } );
      renderer.setClearColor( scene.fog.color );
      renderer.setPixelRatio( window.devicePixelRatio );
      renderer.setSize( window.innerWidth, window.innerHeight );
      
      container = document.createElement( 'div' );
      document.body.appendChild(container);
      container.appendChild( renderer.domElement );
      
      camera = new THREE.PerspectiveCamera( 35, window.innerWidth / window.innerHeight, 1, 15 );
      camera.position.set( 1, 1, 1 );
      controls = new THREE.OrbitControls( camera, renderer.domElement );
      controls.enableDamping = true;
      controls.dampingFactor = 0.25;
      controls.enableZoom = true;
      
      // PLY file
      var loader = new THREE.PLYLoader();
      loader.load( '#{file}', function ( geometry ) {
        geometry.mergeVertices();
        geometry.computeFaceNormals();
        geometry.computeVertexNormals();
        //geometry.center();
        
        var material = new THREE.MeshLambertMaterial( { color: 0xeeeeee } );
        var mesh = new THREE.Mesh( geometry, material );

        mesh.position.set(0,0,0);
        mesh.rotation.set(Math.PI/2,0,0);
        mesh.scale.multiplyScalar( 0.002 );
        mesh.updateMatrix();
        mesh.matrixAutoUpdate = false;
        
        scene.add( mesh );
      });
        
      // Lights
      light = new THREE.DirectionalLight( 0xffffff );
      light.position.set( 5, 5, 5 );
      scene.add( light );

      light = new THREE.DirectionalLight( 0xffffff );
      light.position.set( -5, -5, -5 );
      scene.add( light );

      light = new THREE.AmbientLight( 0x222222 );
      scene.add( light );

      // stats
      stats = new Stats();
      stats.domElement.style.position = 'absolute';
      stats.domElement.style.top = '0px';
      stats.domElement.style.zIndex = 100;
      container.appendChild( stats.domElement );

      // resize
      window.addEventListener( 'resize', onWindowResize, false );
    }

    function onWindowResize() {
      camera.aspect = window.innerWidth / window.innerHeight;
      camera.updateProjectionMatrix();
      renderer.setSize( window.innerWidth, window.innerHeight );
    }

    function animate() {
      requestAnimationFrame( animate );
      stats.update();
      controls.update();
      render();
    }

    function render() {
      renderer.render( scene, camera );
    }
