extends layout.jade

block title
  title CT3D - Showing AR Model

block head
  script(type='text/javascript' src='js/js-three/three.min.js')
  script(type='text/javascript' src="js/js-three/PLYLoader.js")
  script(type='text/javascript' src="js/js-three/Detector.js")
  script(type='text/javascript' src="js/js-three/OrbitControls.js")
  script(type='text/javascript' src="js/js-three/stats.min.js")
  
  script(type='text/javascript' src="js/js-aruco/aruco.js")
  script(type='text/javascript' src="js/js-aruco/cv.js")
  script(type='text/javascript' src="js/js-aruco/posit1-patched.js")
  script(type='text/javascript' src="js/js-aruco/svd.js")
  script(type='text/javascript' src="js/js-aruco/webrtc-adapter-latest.js")
  script(type='text/javascript' src="js/js-aruco/threex.imagegrabbing.js")
  script(type='text/javascript' src="js/js-aruco/threex.jsarucomarker.js")
  script(type='text/javascript' src="js/js-aruco/threex.videograbbing.js")
  script(type='text/javascript' src="js/js-aruco/threex.webcamgrabbing.js")
  
block content
  script.
    var renderer, scene, camera, markerObject3D, loader, geometry, object3d, jsArucoMarker, videoGrabbing, renderStats, material, domElement, markers;
    init();
    render();
    
    function init(){
      // scene
      scene = new THREE.Scene();
      camera	= new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 2000);
      camera.position.z = 2;
      
      markerObject3D = new THREE.Object3D();
      scene.add(markerObject3D);
      
      var loader = new THREE.PLYLoader();
      loader.load( '#{file}', function ( geometry ) {
        geometry.mergeVertices();
        geometry.computeFaceNormals();
        geometry.computeVertexNormals();
        //geometry.center();
        
        var material = new THREE.MeshLambertMaterial( { color: 0xeeeeee } );
        var mesh = new THREE.Mesh( geometry, material );

        mesh.position.set(0,1,0);
        mesh.rotation.set(Math.PI/2,0,0);
        mesh.scale.multiplyScalar( 0.02 );
        mesh.updateMatrix();
        mesh.matrixAutoUpdate = false;
        markerObject3D.add(mesh);
        //scene.add( mesh );
      }, function ( xhr ) {
        console.log( (xhr.loaded / xhr.total * 100) + '% loaded' );
      }, function ( xhr ) {
        console.log( 'An error happened' );
      });
      
      light = new THREE.PointLight( 0xffffff );
      light.position.set( 100, 100, 100 );
      markerObject3D.add( light );

      light = new THREE.PointLight( 0xffffff );
      light.position.set( -100, -100, -100 );
      markerObject3D.add( light );

      jsArucoMarker	= new THREEx.JsArucoMarker();
      videoGrabbing = new THREEx.WebcamGrabbing();
      jsArucoMarker.videoScaleDown = 2;
      
      document.body.appendChild(videoGrabbing.domElement);
    
      // renderer
      renderer	= new THREE.WebGLRenderer({antialias : false, alpha : true});
      renderer.setPixelRatio( window.devicePixelRatio );
      renderer.setSize( window.innerWidth, window.innerHeight );
      document.body.appendChild( renderer.domElement );

      window.addEventListener('resize', function(){
        renderer.setSize( window.innerWidth, window.innerHeight );
        camera.aspect	= window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
      }, false);
      
      // stats
      renderStats = new Stats();
      document.body.appendChild( renderStats.domElement );
      renderStats.domElement.style.position = 'absolute';
      renderStats.domElement.style.bottom = '0px';
      renderStats.domElement.style.left = '0px';
    }
    
    function render() {
      requestAnimationFrame( render );
      renderer.render( scene, camera );
      renderStats.update();
      markerObject3D.visible	= false;
      domElement	= videoGrabbing.domElement;
      markers	= jsArucoMarker.detectMarkers(domElement);
      markerObject3D.visible = false;
      for (var i = 0, len = markers.length; i < len; i++){
        var marker = markers[i];
        jsArucoMarker.markerToObject3D(marker, markerObject3D);
        markerObject3D.visible = true;
      }
    }
